/* global */
body{
  background-color: #f7fff8;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,
i{
  color: #d46438;
}
p{
  font-family: 'Work Sans',sans-serif;
  color: #575757;
  line-height: 1.8em;
}
div.container{
  margin: auto;
  width: 920px;
  max-width: calc(100% - 5em);
}

/* Section 01 */
body > main:first-of-type{
  margin: 2em auto auto auto;
}
ul.main-list{
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
ul.main-list > li{
  display: flex;
}
ul.main-list > li > div:nth-of-type(1){
  width: 2.25em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;
}
ul.main-list > li > div:nth-of-type(2) > h3{
  margin: .25em auto .5em auto;
}


/* Última seção */
section#contacts{
  padding: 2em 0;
  background-color: #e8e8e8;
}
#contacts ul{
  margin: 2em auto;
  width: 100%;
  background-color: #497651;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 3em 0 3em 0;
}
#contacts ul > li:nth-of-type(0){
  background-color: #589962;
}
#contacts ul > li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
#contacts ul > li > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
#contacts li header{
  margin: 0 0 .5em 0;
}
#contacts li header > div{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  background-color: #74a36a;
}
#contacts i{
  font-size: 2.5em;
}
#contacts h4,
#contacts i {
  color: white;
}


/* Footer */
#footer{
  padding: .25em 0;
  background-color: #222;
  color: #ccc;
}
#footer i{
  color: #ccc;
  transition: 100ms;
}
#footer i:hover{
  color: #d46438;
}
#footer > div:nth-of-type(1){
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}
#footer > div:nth-of-type(1) > div:nth-of-type(1){
  font-size: 1.3333em;
  font-weight: 700;
  text-align: center;
}
#footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
}
#footer > div:last-of-type{
  padding: .5em 0;
  opacity: 50%;
  font-size: .75em;
  text-align: center;
}
#footer > div > a:last-of-type:hover{
  color: #ecdc1c;
}

@media only screen and (min-width: 720px) {
  #contacts ul{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  #footer > div:nth-of-type(1){
    flex-direction: row;
    justify-content: space-between;
  }
  #footer > div:last-of-type{
    text-align: right;
  }
}